# Build and distribution
build/
dist/
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.spec

# Logs
logs/
*.log

# Database
*.db
*.db-journal

# Environment
venv/
env/
.env/
.venv/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak
*.backup

# System files
.DS_Store
Thumbs.db

# Project specific
database/
archives/

# Executable files
*.exe
*.dll
tools/upx/
*.enc

# Installer files
*.msi
*.msix
*.msm
*.msp
*.exe.manifest
*.pyd

# Inno Setup files
*.iss